<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820451512694-q35ib2df88qc2dtudi8i622raq2tip0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820451512694-q35ib2df88qc2dtudi8i622raq2tip0j</string>
	<key>API_KEY</key>
	<string>AIzaSyBOd_xYqJ9TzZfTETGYAxIC7iPAadP5Smc</string>
	<key>GCM_SENDER_ID</key>
	<string>820451512694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Pare.team</string>
	<key>PROJECT_ID</key>
	<string>follis-e41c6</string>
	<key>STORAGE_BUCKET</key>
	<string>follis-e41c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820451512694:ios:fcb8dc2f939b0b5be6aa57</string>
</dict>
</plist>